*{box-sizing: border-box;}
body
{
	font-family: Monaco,'Courier New', monospace;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

.hanoi_container{
	margin: 0 auto;
	position: relative;
	padding-top: 50px;
	width: 100%;
	height: 500px;
	background-color: #009688;
}

.hanoi{
	padding: 10px 20px;
	width: 100%;
	height: 100%;
}

.tower_container{
	
}

.tower{
	margin: 0 auto;
	position: relative;
}

.tower_name{ font-family: 'Lucida Bright', Georgia,  serif; font-weight: bolder;color: #ddd;position: absolute;	bottom: -25px; left: 0; right: 0; transform: translateX(50%);}

.tower_horizontal{
	width: 100%;
	position: relative;
	bottom: 0;left: 0;right: 0;
	height: 300px;
	padding: 5px;
	display: inline-block;
	border-bottom: 5px solid black;
}
.tower_vertical{
	border-left: 5px solid black;
	height: 100%;
	min-height: 1px;
	position: absolute;
	left: 0;right: 0;
	top: 0;bottom: 0;
	transform: translateX(50%);
	z-index: 1;
}

.disk_container{
	height: 20px;
	position: absolute;
	left: 0;right: 0;bottom: 0;
	z-index: 9;
}

.disk_wrap{
	position: relative;
	width: 100%;
	height: 100%;
}

.hanoi_disk{
	/* position: absolute; */
	/*top: 0;left: 0;right: 0;*/
	margin: 0 auto;
	display: block;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border: 1px solid #bdbdbd;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 2px #3F51B5;
	box-shadow: 2px 2px 2px #3F51B5;
}

.hanoi_disk .is-dragged{
	transition: 0s;
	border: none;
	opacity: 0.5;
	outline: none;
}

.controls{
	margin-top: 30px;
}

.hanoi_score{
	display: block;
	border: 1px dashed #333;
	border-radius: 5px;
	color: #333;
	background-color: #9FA8DA;
	font-family: comic sans ms, monospace, consolas;
	font-weight: bold;
	font-size: 14px;
}

.hanoi_score .badge{background-color:#3F51B5; color: #FFF;}

/*-----------------------------*/
/*------- 	Interact.js  ------*/
/*-----------------------------*/

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}